<mat-card class="example-card" [class.color-card]="noStock">
  <img
    mat-card-image
    src="https://imgs.search.brave.com/uT5TsZ61BMgxVPCAwQU0uhsa_EzU8V4OyCkuQ8Ur3s0/rs:fit:560:320:1/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi81LzVhL0Nv/bXB1dGVyX2tleWJv/YXJkX0VTX2xheW91/dC5zdmcvNjQwcHgt/Q29tcHV0ZXJfa2V5/Ym9hcmRfRVNfbGF5/b3V0LnN2Zy5wbmc"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>Teclado retro</p>
    <p>{{ price }} €</p>
    <p [ngClass]="{ nonePrice: noStock }" *ngIf="!noStock">{{ stock }}</p>
    <p></p>
  </mat-card-content>
  <mat-card-actions *ngIf="!noStock">
    <button
      mat-raised-button
      color="accent"
      (click)="delItem()"
      [class.custom-style]="noStock"
    >
      -
    </button>
    <button mat-raised-button color="primary" (click)="sumItem()">+</button>
  </mat-card-actions>
</mat-card>
